<!DOCTYPE plugin PUBLIC "-//Oxygen Plugin" "../plugin.dtd">
<plugin
 id="oxygen.dita.expand.conrefs.keyrefs"
 name="DITA Expand Conrefs and Keyrefs"
 description="Plugin which expands all conrefs, keyrefs and conkeyrefs in a DITA topic replacing them with the resolved content."
 version="1.0"
 vendor="Syncro Soft"
 class="ro.sync.exml.plugin.Plugin"
 classLoaderType="preferReferencedResources">
 <extension type="WorkspaceAccessJS" href="wsAccess.js"/>
</plugin>
